@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Mazzard";
  src: url("/assets/fonts/mazzard/MazzardH-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard";
  src: url("/assets/fonts/mazzard/MazzardH-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard";
  src: url("/assets/fonts/mazzard/MazzardH-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard";
  src: url("/assets/fonts/mazzard/MazzardH-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand-50: #edf6ff;
  --color-brand-100: #d7eaff;
  --color-brand-200: #b9dbff;
  --color-brand-300: #88c6ff;
  --color-brand-400: #50a6ff;
  --color-brand-500: #2881ff;
  --color-brand-600: #105fff;
  --color-brand-700: #0a49eb;
  --color-brand-800: #0f3bbe;
  --color-brand-900: #133795;
  --color-brand-950: #11235a;

  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;
  --color-sky-800: #075985;
  --color-sky-900: #0c4a6e;
  --color-sky-950: #082f49;

  --color-purple-50: #f9f5ff;
  --color-purple-100: #f1e7ff;
  --color-purple-200: #e6d4ff;
  --color-purple-300: #d3b2ff;
  --color-purple-400: #bb87ff;
  --color-purple-500: #9d51fb;
  --color-purple-600: #862eef;
  --color-purple-700: #721ed2;
  --color-purple-800: #621eab;
  --color-purple-900: #50198a;
  --color-purple-950: #350566;

  --color-neutral-50: #ffffff;
  --color-neutral-100: #efefef;
  --color-neutral-200: #dcdcdc;
  --color-neutral-300: #bdbdbd;
  --color-neutral-400: #989898;
  --color-neutral-500: #7c7c7c;
  --color-neutral-600: #656565;
  --color-neutral-700: #525252;
  --color-neutral-800: #464646;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #292929;

  --color-red-50: #fff1f1;
  --color-red-100: #ffdfe0;
  --color-red-200: #ffc4c5;
  --color-red-300: #ff9a9c;
  --color-red-400: #ff6164;
  --color-red-500: #ff2f34;
  --color-red-600: #ef0d12;
  --color-red-700: #cc090d;
  --color-red-800: #a80c0f;
  --color-red-900: #8b1114;
  --color-red-950: #4c0305;

  --color-orange-50: #fffaec;
  --color-orange-100: #fff4d3;
  --color-orange-200: #ffe5a5;
  --color-orange-300: #ffd16d;
  --color-orange-400: #ffb132;
  --color-orange-500: #ff980a;
  --color-orange-600: #fa7d00;
  --color-orange-700: #cc5d02;
  --color-orange-800: #a1480b;
  --color-orange-900: #823d0c;
  --color-orange-950: #461c04;

  --color-green-50: #f4ffe4;
  --color-green-100: #e5ffc4;
  --color-green-200: #ccff90;
  --color-green-300: #a8ff50;
  --color-green-400: #86fe1d;
  --color-green-500: #65e500;
  --color-green-600: #4cb800;
  --color-green-700: #3b8f00;
  --color-green-800: #306d07;
  --color-green-900: #2a5c0b;
  --color-green-950: #123400;

  --color-border-base: #e5e7eb;
  --color-text-body: #4a5565;
  --color-text-heading: #101828;

  --font-mazzard: "Mazzard", sans-serif;
}

@layer base {
  * {
    @apply font-mazzard border-border outline-ring/50
  }
  button {
    @apply cursor-pointer
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}